.city {
  width: 500px;
  height: 40px;
  margin: 40px 30px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  /* border: 1px solid #138496; */
  border: none;
}
.city:focus {
  outline: 0;
}

.degree {
  text-align: center;
  padding: 2px;
  font-size: 18px;   
  
}
.degrees {
  font-weight: normal;
  position: relative;
  top:-23px;
  font-size: 16px;
 
}
.big-degree {
  color: rgb(32, 33, 36);
 display: inline;
font-size: 48px;
font-weight: 400;
line-height: 70px;
margin-left: 30px;
}

.image-icon{
  margin:-15px 0px 0px 40px;
}


.dayOfWeek {
  text-align: center;
  font-size: 18px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.picture {
  display: block;
  text-align: center;
  margin: 0 auto 15px;
}

.block-1 {
  margin-top: 20px;
}

.block-2 {
  margin-top: 50px;
}
.fon {
  background-image: url(image/nebo.jpg);
  background-size: cover;
}

.box {
  width: 800px;
  margin: 10px auto;
}
.info {
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.day-degree {
  font-weight: bold;
}
.button {
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgba(252, 248, 22, 0.961);
}

.buttonLoc {
  padding: 5px 20px;
  border-radius: 8px;
  background-color: rgb(50, 224, 50);
  color: #fff;
  border: none;
}

.search-form {
  display: inline;
}

.link {
 margin-left: 270px;
}

.active{
  color:rgb(32, 33, 36);
  cursor:default;
}
.active:hover{
  text-decoration: none;
}

